/*
=====================================
 HTML ELEMENTS STYLES
=====================================
*/
body{
    font-family: "Roboto", sans-serif;
}
input[type=text], input[type=email] {
   font-size:1rem;
   color:#454545;
   font-weight: 500;
}